appendix1.aux
chapter1.aux
mythesis-honours-coop.lof
mythesis-honours-coop.lot
mythesis-honours-coop.pdf
mythesis-honours-coop.toc
mythesis.aux
mythesis.bbl
mythesis.blg
mythesis.fdb_latexmk
mythesis.fls
mythesis.lof
mythesis.log
mythesis.lot
mythesis.pdf
mythesis.toc
*.swp
